<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="data.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div ng-app="">
        <div ng-controller="MyCtrl">
            <div>Portable Class Library (PCL) profiles as of <b>{{description}}</b> taken from <a href="https://github.com/StephenCleary/PortableLibraryProfiles">Stephen Cleary's Github utility</a>.</div>

            <div>
                <input type="text" ng-model="filter" class="form-control pushdown" placeholder="Filter">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="includeLegacy">
                        Include legacy portable profiles
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="includeNames">
                        Show full framework names
                    </label>
                </div>
            </div>

            <table class="table table-striped table-hover pushdown">
                <tr><th>#</th><th ng-show="includeNames">Name</th><th>Frameworks</th><th ng-show="includeNames">Framework Names</th><th>NuGet Target</th><th>Generation</th><th ng-show="includeLegacy">Notes</th></tr>
                <tr ng-repeat="profile in list | filter:legacyFilter | filter:filter">
                    <td><span title="{{profile.fullName}}">{{profile.profileName}}</span></td>
                    <td ng-show="includeNames">{{profile.fullName}}</td>
                    <td><div ng-repeat="framework in profile.frameworks" class="verticalSpacing"><span title="{{framework.fullName}}">{{framework.friendlyName}}</span></div></td>
                    <td ng-show="includeNames"><div ng-repeat="framework in profile.frameworks" class="verticalSpacing">{{framework.fullName}}</div></td>
                    <td>{{profile.nugetTarget}}</td>
                    <td><span ng-show="{{profile.generation}}">dotnet</span>{{profile.generation}}</td>
                    <td ng-show="includeLegacy">
                        <div ng-hide="profile.supportedByVisualStudio2013"><a href="http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/4504987-support-portable-class-libraries-in-vs-2013-for-al">Not supported by VS2013</a><br /><br /></div>
                        <div ng-hide="profile.supportedByVisualStudio2015"><a href="http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/4504987-support-portable-class-libraries-in-vs-2013-for-al">Not supported by VS2015</a><br /><br /></div>
                        <div ng-hide="profile.supportsAsync" class="bad">Does not support async/await or HttpClient.<br /></div>
                        <div ng-show="profile.supportsAsync" class="good">Supports async/await and HttpClient.<br /></div>
                        <div ng-hide="profile.supportsGenericVariance" class="bad">Does not support generic variance.<br /></div>
                        <div ng-show="profile.supportsGenericVariance" class="good">Supports generic variance.<br /></div>
                    </td>
                </tr>
            </table>

            <div>For more about framework names, see <a href="http://blog.stephencleary.com/2012/05/framework-profiles-in-net.html">Framework Profiles in .NET</a>.</div>
            <div>The program that generates this data is <a href="https://github.com/StephenCleary/PortableLibraryProfiles">open source!</a></div>
        </div>
    </div>
</body>
</html>
